@model IEnumerable<Covid19ManagmentSystem.Web.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-action="Index" asp-controller="Person">
            <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">search by ID</button>
        </form>
    </div>
</div>
<div class="col-md-6">
    <a asp-action="Index">Back to full list</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Patient ID
            </th>
            <th>
                Patient first name
            </th>
            <th>
                Patient last name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Show More</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
